doctype html
html
    head
        title Upload Image
        meta(charset="UTF-8")
        link(href="https://bootswatch.com/lumen/bootstrap.min.css", rel="stylesheet" , crossorigin="anonymous")
        link(href="css/app.css")
    body
        div(class="container")
            block content